.kutu1{
    width: 600px;
    margin: auto;
    border: 3px solid salmon;
}
.kutu2{
    max-width: 600px;
    margin: auto;
    border: 3px solid salmon;
}

/* 
Blok düzeyindeki bir öğe her zaman mevcut tüm genişliği kaplar (mümkün olduğunca sola ve sağa doğru uzar).

Blok düzeyindeki bir öğenin genişliğini ayarlamak, öğenin kabının kenarlarına kadar uzamasını önleyecektir. Ardından, öğeyi kabının içinde yatay olarak ortalamak için kenar boşluklarını otomatik olarak ayarlayabilirsiniz. Öğe belirtilen genişliği kaplayacak ve kalan alan iki kenar boşluğu arasında eşit olarak bölünecektir.

<div> ile ilgili sorun, tarayıcı penceresi öğenin genişliğinden küçük olduğunda ortaya çıkar. Tarayıcı daha sonra sayfaya yatay bir kaydırma çubuğu ekler.

Bunun yerine, bu durumda maksimum genişlik kullanmak, tarayıcının küçük pencereleri işlemesini iyileştirecektir. Bu, bir siteyi küçük cihazlarda kullanılabilir hale getirirken önemlidir.
*/